.card__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 6px -6px black;
}

.card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
