.character-detail__container {
  padding: 5%;
}

.card__container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 350px;
}

.comics_section--padding {
  padding: 5%;
}

.comics__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(168px,200px));
  grid-auto-rows: 1fr;
  gap: 20px;
  height: 100%;
}
