<div class="character-detail__container">
  <div *ngIf="character" class="card__container">
      <h1>{{character.name}}</h1>
      <img [src]="thumbnailURL" alt="character thumbnail">
    <div>
      <p>
        {{character.description}}
      </p>
    </div>
  </div>
  <section *ngIf="comics">
    <h2>Comics({{paginator.length}})</h2>
    <div class="comics__grid">
      <app-comic-detail *ngFor="let comic of comics" [comic]="comic"></app-comic-detail>
    </div>
    <mat-paginator (page)="onPageChanged($event)" [length]="paginator.length" [pageSize]="paginator.pageSize" [pageSizeOptions]="[16, 32]"></mat-paginator>
  </section>
</div>
